doctype html
html
head
    meta(charset='utf-8')
    title Edit
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')/


body
    h1 Página de Cadastro

    .modal-dialog 
        .modal-content 
            .modal-body 
                form(role='form' method='POST' action='clientes/edit/' + client.id)
                    div.form-goup
                        label(for='name') Nome: 
                        input#name.form-control(type='text', placeholder='Nome', name='nome' value=client.nome)
                    div.form-group 
                        label(for='email')  Email:
                        input#email.form-control(type='email', placeholder='name@email.com' name='email' value=client.email)
                        button.btn.btn-primary(type="submit", name="buton") Editar Cadastro 

